* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

:root {
  --bg-header: #000000;
  --bg-main: #0e0e10ec;
  --bg-card: #16161a;
  --text-main: #ffffff;
  --text-secondary: #cfcfd4;
  --accent: #d4af37;
}
html {
  font-size: 62.5%;
}

body {
  background-color: var(--bg-main);
}

.header {
  background-color: var(--bg-header);
  padding: 1rem;
  display: flex;
  justify-content: space-between;
}
.logo {
  display: flex;
  align-items: center;
  justify-content: center;
}
.logo img {
  width: 14rem;
}
.lang-chose select {
  appearance: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  background: #16161a;
  color: white;
  border: 1px solid #333;
  padding: 0.6rem;
  border-radius: 8px;
  outline: none;
  cursor: pointer;
  font-size: 2.2rem;
}
.lang-chose select::-ms-expand {
  display: none;
}

.lang-btn.active {
  opacity: 1;
  outline: 2px solid #ffffff;
}
.lang-chose select option {
  background: #16161a;
  color: #ffffff;
}

.nav {
  display: flex;
  gap: 1rem;
  align-items: center;
  justify-content: center;
}

.burger img {
  height: 4.5rem;
}






